<div>

  <div class="navbar ">

    <li>
      <img src="assets/images/logo.png" height=10% width=10% alt="">
      <div class="left-align">
        <a href="">Home</a>
       
        <div class="drpdown">
          <a href="#">Series</a>
          <div class="dropdown-content">
            <div>
              <a href="#" (click)="sendMovieNameToCards('Harry Potter')">Harry Potter</a>
            </div>
            <div>
              <a href="#" (click)="sendMovieNameToCards('Avengers')">Avengers</a>
            </div>
            <div>
              <a href="#" (click)="sendMovieNameToCards('Star Wars')">Star Wars</a>

            </div>
            <div>
              <a href="#" (click)="sendMovieNameToCards('Spider-Man')">Spider-Man</a>
            </div>
           
          </div>
        </div>
        <a routerLink="/about">About</a>
        <!-- <a href="">Movies</a> -->
      </div>
      <form id="search-bar">
        <input type="text" placeholder="Search.." #movieSearch>
        <button type="submit" (click)="sendMovieNameToCards(movieSearch.value)">Go</button>
      </form>


      <div class="right-align">
        <a routerLink="/pro">Pro</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>
    </li>

    <!-- <h3>Hello {{username}}</h3> -->
    <!-- <div class="topnav"> -->
    <!-- </div> -->
    <!-- <div class="navbar-right">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div> -->
    <div *ngFor='let movie of movies$'>
      <h2>{{movie.Title}}</h2>
    </div>
  </div>
</div>