<div class="container">
    <form class="search-bar">
        <span>Pro Search</span>
        <span>
            <input type="text" #movieName>
            <button (click)="getProMovieList(movieName)">Go</button>
        </span>
    </form>
    <div id="links">
        <br>
        <h3>Magnet Links</h3>
        <!-- <ol> -->
        <div *ngFor='let magnet of magnets$'>
            <!-- <li> -->

            <div class="content">
                <div>
                    <span class="heading">Title: </span><span>{{magnet.title}}</span>
                </div>
                <!-- <a routerLink="/player" (click)=sendStreamingLinkToPlayer(magnet.torrent_link)>Link: {{magnet.torrent_link}}</a> -->
                <div>
                    <span class="heading">Seeders: </span><span>{{magnet.seeds}}</span>
                </div>
                <div>
                    <span class="heading">Leechers: </span><span>{{magnet.leechs}}</span>
                </div>
                <div>
                    <span class="heading">Size: </span><span>{{magnet.size}}</span>
                </div>
            </div>
            <img src="/assets/images/play.png" alt="" width=100px routerLink="/player"
                (click)=sendStreamingLinkToPlayer(magnet.torrent_link)>

            <!-- <button routerLink="/player" (click)=sendStreamingLinkToPlayer(magnet.torrent_link)>Watch Now</button> -->
            <!-- </li><br> -->
        </div>

        <!-- </ol> -->
    </div>
</div>