
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 100px;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    color: black;
}

h3{
    text-align: center;
    color: black;
}

.center div{
    text-align: center;
}

.center div img{
    margin: 5px;
}