.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    background-color: #eeeeee;
    border-radius: 20px;
    overflow: auto;
    display: block;
  
      /* background-image: linear-gradient(to right, black , #05081c); */
  }

.row{
    border: 3px solid #ccc;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    margin: 20px;
    text-align: center;
    /* padding: 20px; */
    /* height: auto; */
    overflow: auto;
}

h1{
    text-align: center;
}
label{
    float: left;
    margin-top: 5px;
}
.row> div{
    width: 33%;
    height: 50px;
    margin-left: 600px;
}
.row > div input{
    /* margin: 20px; */
    float: right;
}




.row input, input:active{
    border-radius: 20px;
    height: 30px;
    width: 300px;
    outline: none;
    border: 1px solid black;
}

button{
    height: 42px;
    width: 100px;
    /* padding: 20px; */
    border-radius: 20px;
    outline: none;
    border: 3px solid black;
    /* box-shadow: none; */
}

button:hover{
    background: rgb(128, 0, 0);
    color: white;
}

.container-signin{
    margin: 20px;
    width: 50px;
    text-align: center;
}
/* .spacer{
    padding: 20px;
} */