/*navbar*/

.container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 50px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: #eeeeee;
  border-radius: 20px;

    /* background-image: linear-gradient(to right, black , #05081c); */
}

.row{
  border: 3px solid #ccc;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  margin: 20px;
  /* height: auto; */
  overflow: auto;
}
#poster{
  border-radius: 20px;
  margin: 40px;
  
}

.poster{
  float: left;
  width: 20%;
}

.movie-details {
  width: 50%;
  float: left;
  /* position: absolute; */
  font-size: 20px; 
  /* word-wrap: break-word;  */
  margin: 40px;
  margin-left: 80px;
  /* margin-right: 20%; */
}

.movie-details div{
  margin: 10px;
  border: 3px solid #ccc;
  padding: 5px;
  border-radius: 20px;
  /* width: 500px; */
  /* overflow: auto; */
}

p{
  margin: 20px;
}
/*movie info page*/
li{
  color: black;
  list-style-type: none;
}
h1{
  color: black;
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
  font-weight: bold;
}
.poster{
  float: left;
}

.heading{
  font-weight: 900;
  width: 40%;
}
/* #poster{
    height: 400px; 
    width: 400px;
} */
/* p{
    font-size: medium;
} */
/* #links{
    color: white; 
    margin: 5% 0% 10% 0%;
    background-color:rgba(7, 9, 28,0.2);
    width: 50%;
    border-width: 10%;
    border-color: #1e1f29;
    border-style: solid;
} */
h3{
  text-align: center;
}
#links{
  
  border: 3px solid #ccc;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  margin: 20px;
  /* margin-bottom: 10px; */
  /* height: auto; */
  overflow: auto;

}

#links >div{
  margin: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(128, 0, 0);
  overflow: auto;
  width: auto;
}
#links div>div>div{
  padding: 5px;
  color: white;
}
.content{
  float: left;
  /* width: 92%; */
}

#links > div > img{
  float: right;
  margin: 20px;
  /* width: 40%; */
  
}

#links > div> img:hover{
  opacity: .5;

}