<!-- <head> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="movie.css"> -->
<!-- <title>Movies</title> -->
<!-- </head> -->

<div class="container" id="movies">
    <h1> {{movieData.Title}} </h1>
    <br>
    <div class="row">
        <!-- <li> -->
        <div class="poster">
            <img src={{movieData.Poster}} alt="The Lord of the Rings: The Return of the King" class="img-rounded"
                id="poster">
        </div>
        <div class="movie-details">
            <div>
                <span class="heading">Synopsis: </span><span>{{movieData.Plot}}</span>
            </div>
            <div>
                <span class="heading">Cast: </span><span>{{movieData.Actors}}</span>
            </div>
            <div>
                <span class="heading">Director: </span><span>{{movieData.Director}}</span>
            </div>
            <div>
                <span class="heading">Release Date: </span><span>{{movieData.Released}}</span>
            </div>
            <div>
                <span class="heading">IMDB Rating: </span><span>{{movieData.imdbRating}}</span>
            </div>
            <div>
                <span class="heading">Genre: </span><span>{{movieData.Genre}}</span>
            </div>
            <br>

        </div>
        <!-- </li> -->
    </div>

    <div id="links">
        <br>
        <h3>Magnet Links</h3>
        <!-- <ol> -->
        <div *ngFor='let magnet of magnets$'>
            <!-- <li> -->

            <div class="content">
                <div>
                    <span class="heading">Title: </span><span>{{magnet.title}}</span>
                </div>
                <!-- <a routerLink="/player" (click)=sendStreamingLinkToPlayer(magnet.torrent_link)>Link: {{magnet.torrent_link}}</a> -->
                <div>
                    <span class="heading">Seeders: </span><span>{{magnet.seeds}}</span>
                </div>
                <div>
                    <span class="heading">Leechers: </span><span>{{magnet.leechs}}</span>
                </div>
                <div>
                    <span class="heading">Size: </span><span>{{magnet.size}}</span>
                </div>
            </div>
            <img src="/assets/images/play.png" alt="" width= 100px routerLink="/player" (click)=sendStreamingLinkToPlayer(magnet.torrent_link)>

            <!-- <button routerLink="/player" (click)=sendStreamingLinkToPlayer(magnet.torrent_link)>Watch Now</button> -->
            <!-- </li><br> -->
        </div>

        <!-- </ol> -->
    </div>
</div>

<!-- <router-outlet></router-outlet> -->