div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin: 50px;
    color: white;
}
h2{
    color: white;
    margin: 50px;
    text-align: center;
}