.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    background-color: #eeeeee;
    border-radius: 20px;
    overflow: none;
  
      /* background-image: linear-gradient(to right, black , #05081c); */
}
div{
    margin: 40px;
    padding: 20px;
    text-align: center;
}


